<div class="form group col-xs-12">
    <p class="text-center col-sm-6 col-sm-offset-3" style="margin-top: 20px; font-weight: bold;font-size: 18px;"><span style="font-size: 26px !important;" class="glyphicon glyphicon-th-list"></span>      To Do List</p>
    <button class="bt-createReminder btn btn-success animate-me animated bounce col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4"  type="button" id="newReminder" ng-click="open()">Create Reminder</button>

    </br>
    <ul class="related-results rel-results col-xs-12 col-sm-6 col-sm-offset-3 text-center list-styling">
        <li class="input-group input-group-lg btn-block li-routedetails li-style animate-me" ng-repeat="item in list | limitTo: paginationLimit()">
            <div ng-click='edit(item)' id="itemText" class="col-xs-9"><span class="btn text-center">{{item.text | limitTo : 50 : begin}}</span></div>
            <buttom id="editItem" class="btnEdit text-center col-xs-1 pull right btn btn-default" ng-click='edit(item)'><span class="glyphicon glyphicon-pencil"></span></buttom>
            <button class="col-xs-1 btnEdit text-center btn pull right btn btn-default" id='deleteItem' ng-click='remove(item)'><span class="glyphicon glyphicon-remove"></span></button>
        </li>

    </ul>
</div>
<div ng-animate="box" ng-hide="!show" class="box on form group text-center col-xs-4 col-xs-offset-4" ui-alert title="Success" message="success">{{success}}</div>
<button id="btnShow" class="btn btn-success animate-me col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5" ng-click="showMoreItems()" style="margin-bottom: 12px;">
    Show more
</button>
